<app-user></app-user>
<hr />
{{title}}
<br />
{{title + ' Hello'}}
<br />
<input type="text" value="{{title}}" />
<br />
<input type="text" [title]="title" />
<br />
<input type="text" [title]="'Title of input is'" />
<br />
{{updateTitle()}}
{{1 + 2+ 4}}
{{1 === 1}}
{{['red', 'green', 'blue'][1]}}
<br />
<button disabled="{{isDisabled}}">Submit</button>
<button [disabled]="isDisabled">Property Submit</button>
<button (click)="handleToggle()">Toggle</button>
<hr />
<button class="btn" [class.active]="isDisabled">Login</button>
<hr />
<button class="btn" [ngClass]="btnClass">Login</button>
<hr />
<button class="btn" [ngClass]="{isActive : title.length > 10, bigFont: isDisabled}">Login</button>
<hr />
{{username}}
<input type="text" [(ngModel)]="username">
<div [ngClass]="{isError :  username.length > 20, isWarning: username.length > 10}">
  Please enter a valid username
</div>

<hr />
<button class="btn" [style.font-size.px]="20">Login</button>
<button class="btn" [style.font-size.px]="isDisabled ? 30 : 16">Login</button>
<button class="btn" [ngStyle]="{color : isDisabled ? 'yellow': 'black' ,
'font-weight': 'bold'}">Login</button>
<hr />
{{username}}
<input type="text" (keydown)="handleKeyDown($event)">
<input type="text" (keydown.enter)="handleKeyDownEnter()">

<hr />
<button class="btn" *ngIf="isDisabled">NgIf</button>
<input type="text" [(ngModel)]="message">

<div *ngIf="message.length > 10; else falseTemplate">
  more message is {{message}}
</div>

<ng-template #falseTemplate>
  less message is {{message}}
</ng-template>


<div *ngIf="message.length > 10; then trueTemplate else falseTemplate">
</div>
<ng-template #trueTemplate>
  then more message is {{message}}
</ng-template>
<ng-template #falseTemplate>
  then less message is {{message}}
</ng-template>

<ul [ngSwitch]="username">
  <li *ngSwitchCase="'ABC'">Hello ABC</li>
  <li *ngSwitchCase="'XYZ'">Hello XYZ</li>
  <li *ngSwitchDefault>Hello unknown</li>
</ul>
