<form #singInForm="ngForm" (ngSubmit)="submitForm(singInForm)">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" name="email" ngModel id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" ngModel class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" name="checkMeOut" ngModel id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!singInForm.valid">Submit</button>

  <p>valid : {{singInForm.valid}}</p>
  <p>pristine : {{singInForm.pristine}}</p>
  <p>dirty : {{singInForm.dirty}}</p>
  <p>touched : {{singInForm.touched}}</p>
</form>
