<div class="star-wrapper" [style.width.px]="totalStarWidth">
  <div [style.width.px]="starWidth" [title]="rating" (click)="ratingStartClick()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
  </div>
</div>
