<div class="mb-3">
  <label for="exampleInputEmail1" class="form-label">Filter</label>
  <input type="email" class="form-control" [(ngModel)]="filterText" id="exampleInputEmail1"
    aria-describedby="emailHelp">
  <app-drop-list [options]="carList" (optionChange)="handleOptionChange($event)"></app-drop-list>
  <app-drop-list [options]="productList" (optionChange)="handleOptionChange($event)"></app-drop-list>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image
        <mat-icon aria-hidden="false" (click)="toggleImage()" aria-label="Example home icon">image</mat-icon>
      </th>
      <th scope="col">Product</th>
      <th scope="col">Code</th>
      <th scope="col">Price</th>
      <th scope="col">Cost</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let game of games | gameFilter : filterText; let i = index">
      <td>{{i + 1}}</td>
      <td>
        <img [src]="game.imageUrl | fallbackImage : 'assets/images/no-image.jpg'" width="90px"
          [ngStyle]="{width : showImage ? '90px' : '40px'}" />
      </td>
      <td>{{game.productName | uppercase}}</td>
      <td>{{game.productCode}}</td>
      <td>{{game.price | currency : 'INR' : 'symbol-narrow' : '4.5-8'}}</td>
      <td>{{game.price | cost}}</td>
      <td appElementHover [title]="'star rating'">
        <app-star [rating]="game.starRating" (ratingClicked)="handleRatingClick($event)"></app-star>
        <span class="rating-text">{{game.starRating}}</span>
      </td>
    </tr>
  </tbody>
</table>

<ul>
  <li *ngFor="let user of users$ | async">
    {{user.name}}
  </li>
</ul>

<hr />
<div class="m-4">
  <app-game-card [title]="'Game Card'">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
    <h1>Game List</h1>
  </app-game-card>
</div>

<div class="m-4">
  <app-game-card [title]="'Game Form'">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <h1>Game Form</h1>
  </app-game-card>
</div>

<hr />

<ng-template #cardHeader>
  <div>Header template of card component</div>
</ng-template>

<app-game-content [headerTemplate]="cardHeader"></app-game-content>
<hr />
<app-game-wrapper>
  <app-game-info></app-game-info>
</app-game-wrapper>
